{% extends 'edge/base.html' %}

{% block content %}
    <header>
        <h1>Training Edge AI ☻</h1>
    </header>
    <section>
        <div class="space">
            <div class="prompt-container">
                <textarea class="prompt" placeholder="Write your prompt here"></textarea>
            </div>
            <button class="btn" type="submit">Run</button>
            <div class="img">
            </div>
        </div>
    </section>

    <footer>
        <p>Made &copy; by 
            <span>Roland</span>
        </p>
    </footer>
{% endblock %}